@import "./null.css";

body{
  background-color: var(--dl-color-primary-500);
  font-size: 20px;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

/* Предупреждение */
.warning{
  text-align: center;
  padding: 2em;
  background-color: #F2E6D8;
  border-radius: 15px;
}

.quiz {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  width: 100%;
  border-radius: 0.3em;
  background-color: #F2E6D8;
}

.quiz__header{
  padding: 1em;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center

}

.quiz__progress {
  height: 10px;
  border-radius: 30px;
  background-color: white;
}

.quiz__progress-inner {
  height: 100%;
  border-radius: 30px;
  width: 70%;
  background: rgb(255, 184, 143);
  transition: all 0.3s ease-in-out;
  background: linear-gradient(90deg, rgb(255, 184, 143) 0%, rgb(255, 146, 52) 100%);
}

.quiz__content{
  padding: 1.5em 1.5em 1em;
  flex: 1 0 auto;
}

.quiz__title{
  justify-content: space-between;
}

.quiz__question{
  font-weight: 500;
  font-size: 0.9em;
  line-height: 1.2em;
  padding-bottom: 0.5em;
}

.result__icons{
  display: flex;
  gap: 0.3em;
  min-height: 20px;
}

.quiz__list{
  display: flex;
  flex-direction: column;
  row-gap: 0.7em;
  padding: 1em 0px;
}

.quiz__option {
  background: rgb(255, 249, 242);
  border: 1px solid #7a6052ff;
  border-radius: 5px;
  padding: 0.4em 0.5em;
  min-height: 3em;
  font-weight: 500;
  font-size: 0.8em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: pre-line;
}

.quiz__option:hover{
  border: 3px solid #7a6052ff;
  transition: border 0.2s ease;
}

.quiz__option:active{
  transform: scale(1.01);
  transition: transform 0.1s ease;
}

.quiz__option.correct{
  color: #155724;
  background: #d4edda;
  border: 1px solid #c3e6cb;
  animation: slide 1s ease-in-out;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

.quiz__option.incorrect{
  animation: slide 1s ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes slide{
  from{
    transform: translateX(0);
    opacity: 1;
  }
  to{
    transform: translateX(500px);
    opacity: 0;
  }
}

.quiz__option.disabled{
  pointer-events: none;
}

.quiz__footer{
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
}

.quiz__total{
  display: flex;
  align-items: center;
}

.quiz__next-btn{
  height: 2em;
  padding: 0 0.7em;
  font-weight: 500;
  border-radius: 5px;
  background: #d3b8aaff;
  border: 1px solid #7a6052ff;
  transition: all 0.2s ease;
}

.quiz__next-btn:hover{
  background: rgb(178, 155, 143);
}

/* Выводим результаты теста */
.result{
  max-width: 450px;
  width: 100%;
  background-color: #F2E6D8;
  border-radius: 10px;
  padding: 1em 0.5em;
}

.result__title{
  font-size: 1.3em;
  font-weight: 550;
  text-align: center;
}

.result__text{
  margin: 0.7em 0;
  font-weight: 500;
  text-align: center;
  font-size: 0.8em;
}

.result__questions{
  display: flex;
  flex-direction: column;
  row-gap: 0.7em;
  padding: 1em 0px;
}

.result__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result__restart{
  height: 2em;
  padding: 0 0.7em;
  font-weight: 600;
  border-radius: 5px;
  background: #d3b8aaff;
  border: 1px solid #7a6052ff;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct__answer{
  font-weight: 500;
  text-align: center;
  font-size: 0.8em;
  padding-top: 1.5em;
  padding-bottom: 1em;
}

.result__restart:hover{
  background: rgb(178, 155, 143);
}

.footer {
  text-align: center;
  padding: 0.5em;
  color: white;
}

.footer__link{
  color: black;
}
