.main {
    gap: 0.5em;
    width: 100%;
    display: flex;
    padding: 1em;
    overflow: auto;
    flex-wrap: wrap;
    font-size: 26px;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--dl-color-primary-500);
  }
  .content {
    gap: 0.5em;
    width: 100%;
    min-height: 3.5em;
    background-color: var(--dl-color-primary-700);
  }
  .container {
    gap: 0.5em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .sidebar {
    flex: 0 0 auto;
    width: calc(20% - 0.5em);
    display: flex;
    padding: 0.5em;
    min-height: 10em;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-primary-700);
  }
  .menu {
    width: 80%;
    display: flex;
    padding: 0.5em;
    min-height: 10em;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--dl-color-primary-700);
  }
  .userinput {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .textinput {
    width: 60%;
    margin-bottom: 0.5em;
    height: 1.8em;
  }
  .button {
    padding: 0.5em;
    border-width: 2px;
    margin-bottom: 0.5em;
    background-color: transparent;
    cursor: pointer;
    height: 1.8em;
    border-width: 1px;
    padding: 0.3em;
  }
  .button:hover{
    opacity: 0.5;
  }
  .output {
    flex: 0 0 auto;
    width: 60%;
    min-height: 100px;
    display: flex;
    align-items: flex-start;
    border-color: var(--dl-color-gray-500);
    border-style: solid;
    border-width: 1px;
    padding: 0.5em;
  }
  @media(max-width: 991px) {
    .dom-test-container1 {
      flex-direction: column;
    }
    .dom-test-sidebar {
      width: 100%;
    }
    .dom-test-menu {
      width: 100%;
    }
  }

  .block{
    display: inline-block;
    text-align:center;
    border: 1px solid var(--dl-color-gray-500);
    background-color: #EFEFEF;
    margin: 2%;
    max-width: 95%;
    font-size: 0.85em;
    font-family: "Nunito";
    font-weight: 300;
    line-height: 1;
    word-break: break-all;
  }

  .sidebar > .block {
    width: 80%
}

  