.dom-test-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-primary-500);
}
.dom-test-container1 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  flex-direction: column;
  padding-bottom: 2em;
}
.dom-test-text {
  align-self: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}
.dom-test-test {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.dom-test-question {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.dom-test-answers {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  justify-content: space-around;
}
.dom-test-button {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
}
.dom-test-button1 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
}
.dom-test-button2 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
}
.dom-test-button3 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
}
