.banner-banner {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #0F1015;
}
.banner-captions {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.banner-caption {
  gap: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.banner-text {
  color: rgb(246, 245, 237);
  font-size: 0.6em;
  text-align: center;
  font-family: "Nunito";
}
.banner-link {
  color: rgb(246, 245, 237);
  cursor: pointer;
  font-size: 0.6em;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: "Nunito";
  font-weight: 700;
  text-decoration: none;
}
.banner-link:hover {
  color: grey;
}
.banner-link1 {
  display: contents;
}
.banner-caption1 {
  gap: 4px;
  width: 100%;
  display: none;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.banner-text1 {
  color: rgb(246, 245, 237);
  font-size: 14px;
  text-align: center;
}
.banner-text2 {
  color: rgb(246, 245, 237);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
}
.banner-text2:hover {
  color: grey;
}
.banner-close {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.banner-icon {
  fill: #ffffff;
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
  transition: 0.3s;
}
.banner-icon:hover {
  fill: grey;
}
@media(max-width: 479px) {
  .banner-caption {
    display: none;
  }
  .banner-caption1 {
    display: flex;
    padding-left: 0px;
  }
  .banner-icon {
    display: none;
  }
}

.branding-branding {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  flex-direction: row;
}
.branding-logo {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.branding-company-name {
  color: var(--dl-color-gray-100);
  align-self: center;
  font-style: normal;
}


@media(max-width: 767px) {
  .branding-company-name {
    font-size: 21px;
    line-height: 32px;
  }
}

.icon-container-icon-container {
  position: relative;
}
.icon-container-icon {
  width: 16px;
  height: 16px;
  display: none;
}
.icon-container-icon2 {
  width: 16px;
  height: 16px;
}










.home-container {
  width: 100%;
  display: flex;
  font-size: 22px;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-hero {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F6F5ED;
}
.home-main {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 758px;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: row;
  background-color: var(--dl-color-primary-700);
}
.home-content {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-navbar-interactive {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.home-desktop-menu {
  display: flex;
}
.home-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-link02 {
  text-decoration: none;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-links1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  flex-direction: column;
}
.home-link04 {
  text-decoration: none;
}
.home-link05 {
  text-decoration: none;
}
.home-link06 {
  text-decoration: none;
}
.home-link07 {
  text-decoration: none;
}
.home-icon-group {
  display: flex;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-hero-section {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 600px;
  flex-direction: column;
}
.home-header {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading {
  color: rgb(34, 34, 35);
  font-style: normal;
}
.home-caption {
  color: rgb(34, 34, 35);
}
.home-buttons {
  gap: 1.6em;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-button1 {
  color: var(--dl-color-gray-100);
  width: 50%;
  border-color: var(--dl-color-gray-100);
  background-color: transparent;
}
.home-button2 {
  color: rgb(255, 255, 255);
  width: 50%;
  border-color: var(--dl-color-gray-100);
  background-color: rgb(0, 0, 0);
}
.home-image {
  flex: 1;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  background-size: cover;
  background-image: url("public/external/cat_home-1500w.png");
  background-position: left;
}
.home-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
  background-color: var(--dl-color-primary-600);
}
.home-container3 {
  flex: 0 0 auto;
  width: 60%;
  height: auto;
  display: flex;
  min-width: var(--dl-size-size-xxlarge);
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.home-headers {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.home-text {
  color: var(--dl-color-gray-100);
  font-style: normal;
}
.home-text01 {
  color: var(--dl-color-gray-100);
}
.home-details {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.home-category {
  gap: var(--dl-space-space-twounits);
  width: 47%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  min-width: var(--dl-size-size-xlarge);
  align-items: flex-start;
  flex-direction: row;
}
.home-icon10 {
  width: 10%;
  height: 10%;
  max-width: var(--dl-size-size-medium);
  min-width: 30px;
  max-height: var(--dl-size-size-medium);
}
.home-text02 {
  font-style: normal;
}
.home-category1 {
  gap: var(--dl-space-space-twounits);
  width: 47%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  min-width: var(--dl-size-size-xlarge);
  align-items: flex-start;
  flex-direction: row;
}
.home-icon12 {
  width: 10%;
  height: 10%;
  max-width: var(--dl-size-size-medium);
  min-width: 30px;
  max-height: var(--dl-size-size-medium);
}
.home-text03 {
  font-style: normal;
}
.home-category2 {
  gap: var(--dl-space-space-twounits);
  width: 47%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  min-width: var(--dl-size-size-xlarge);
  align-items: flex-start;
  flex-direction: row;
}
.home-icon14 {
  width: 10%;
  height: 10%;
  max-width: var(--dl-size-size-medium);
  min-width: 30px;
  max-height: var(--dl-size-size-medium);
}
.home-text04 {
  font-style: normal;
}
.home-category3 {
  gap: var(--dl-space-space-twounits);
  width: 47%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  min-width: var(--dl-size-size-xlarge);
  align-items: flex-start;
  flex-direction: row;
}
.home-icon16 {
  width: 10%;
  height: 10%;
  max-width: var(--dl-size-size-medium);
  min-width: 30px;
  max-height: var(--dl-size-size-medium);
}
.home-text05 {
  font-style: normal;
}
.home-images {
  flex: 1;
  width: 40%;
  height: auto;
  display: flex;
  position: relative;
  min-width: 360px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-primary-300);
}
.home-image01 {
  width: 50%;
  transform: rotate(+5deg);
}
.home-image02 {
  width: 51%;
  transform: rotate(-4deg);
}
.home-image03 {
  width: 50%;
  z-index: 1;
  transform: rotate(+4deg);
  object-fit: cover;
}
.home-image04 {
  width: 50%;
  z-index: 1;
  transform: rotate(-6deg);
}
.home-donate {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-content1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-header1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-button3 {
  color: var(--dl-color-gray-dark);
  font-style: normal;
  border-color: var(--dl-color-gray-100);
  background-color: transparent;
}
.home-caption1 {
  width: 100%;
  max-width: 640px;
  text-align: center;
}
.home-row {
  gap: 2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-button4 {
  color: rgb(255, 255, 255);
  width: 50%;
  background-color: rgb(0, 0, 0);
}
.home-button5 {
  color: rgb(255, 255, 255);
  width: 50%;
  background-color: rgb(0, 0, 0);
}
.home-button6 {
  color: rgb(255, 255, 255);
  width: 50%;
  background-color: rgb(0, 0, 0);
}
.home-donation-use {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: auto;
  align-items: flex-start;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: 120px;
  justify-content: flex-start;
}
.home-header2 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 560px;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading1 {
  color: rgb(34, 34, 35);
}
.home-caption2 {
  color: rgb(34, 34, 35);
  font-size: 1em;
  font-style: normal;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 30px;
  text-transform: none;
  text-decoration: none;
}
.home-accordion {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header3 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text06 {
  color: var(--dl-color-gray-100);
  padding-right: var(--dl-space-space-unit);
}
.home-text07 {
  color: rgb(34, 34, 35);
}
.home-header4 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text08 {
  color: var(--dl-color-gray-100);
  padding-right: var(--dl-space-space-unit);
}
.home-text09 {
  color: rgb(34, 34, 35);
}
.home-text11 {
  color: #222223;
}
.home-header5 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text13 {
  color: var(--dl-color-gray-100);
  padding-right: var(--dl-space-space-unit);
}
.home-text14 {
  color: rgb(34, 34, 35);
}
.home-container5 {
  display: contents;
}
.home-pets {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 2em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  flex-direction: column;
  padding-bottom: 2em;
  background-color: var(--dl-color-primary-700);
}
.home-cards {
  gap: 4em;
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: center;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
  justify-content: center;
}
.home-card {
  display: flex;
}
.home-image05 {
  width: 200px;
  object-fit: cover;
  border-radius: 20%;
}
.home-card1 {
  display: flex;
}
.home-image06 {
  width: 200px;
  object-fit: cover;
  border-radius: 20%;
}
.home-card2 {
  display: flex;
}
.home-image07 {
  width: 200px;
  object-fit: cover;
  border-radius: 20%;
}
.home-card3 {
  display: flex;
}
.home-image08 {
  width: 200px;
  object-fit: cover;
  border-radius: 20%;
}
.home-card4 {
  display: flex;
}
.home-image09 {
  width: 200px;
  object-fit: cover;
  border-radius: 20%;
}
.home-card5 {
  display: flex;
}
.home-image10 {
  width: 200px;
  object-fit: cover;
  border-radius: 20%;
}
.home-card6 {
  display: flex;
}
.home-image11 {
  width: 200px;
  object-fit: cover;
  border-radius: 20%;
}
.home-card7 {
  display: flex;
}
.home-image12 {
  width: 200px;
  object-fit: cover;
  border-radius: 20%;
}
.home-updates {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-700);
}
.home-content5 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 100px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: 100px;
  justify-content: center;
}
.home-details1 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header6 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 560px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-heading2 {
  color: rgb(34, 34, 35);
  width: 100%;
  font-size: 2.3em;
  font-style: normal;
  font-family: "Cormorant Garamond";
  font-weight: 500;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
}
.home-action {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-input {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-textinput {
  color: #222223;
}
.home-button7 {
  color: var(--dl-color-gray-white);
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
.home-agreement {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-states {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-checkbox {
  width: 1em;
  cursor: pointer;
  height: 1em;
  display: flex;
  align-items: flex-start;
  border-color: #222223;
  border-style: solid;
  border-width: 1px;
  flex-direction: row;
  background-color: #ffffff;
}
.home-checkbox1 {
  width: 1em;
  cursor: pointer;
  height: 1em;
  display: none;
  align-items: center;
  border-color: #222223;
  border-style: solid;
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-success-300);
}
.home-icon18 {
  width: 10px;
  height: 10x;
}
.home-caption4 {
  gap: 4px;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-normal {
  color: rgb(34, 34, 35);
  font-size: 0.7em;
  font-style: normal;
  text-align: center;
  font-family: "Nunito";
  font-weight: 400;
}
.home-bold {
  color: rgb(34, 34, 35);
  font-size: 0.7em;
  font-style: normal;
  text-align: center;
  font-family: "Nunito";
  font-weight: 700;
}
.home-container7 {
  display: contents;
}
.home-slider {
  gap: 115px;
  flex: 1;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-slides {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
}
.home-image13 {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.home-image14 {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.home-text32 {
  font-size: 24px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 31px;
}
.home-image15 {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.home-text35 {
  font-size: 24px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 31px;
}
.home-buttons-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-buttons1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-previous {
  display: flex;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  background-color: transparent;
}
.home-icon20 {
  width: 18px;
  height: 18px;
}
.home-next {
  display: flex;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  background-color: transparent;
}
.home-icon22 {
  width: 18px;
  height: 18px;
}
.home-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: var(--dl-color-primary-300);
}
.home-top {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: center;
  border-color: #222223;
  border-style: dashed;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  border-bottom-width: 1px;
}
.home-navigation-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.home-link08 {
  color: var(--dl-color-gray-100);
}
.home-link09 {
  color: var(--dl-color-gray-100);
}
.home-link10 {
  color: var(--dl-color-gray-100);
}
.home-link11 {
  color: var(--dl-color-gray-100);
}
.home-middle {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 250px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.home-text38 {
  color: var(--dl-color-gray-100);
  width: 100%;
  font-size: 0.8em;
  font-style: normal;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 1.3em;
  text-transform: none;
  text-decoration: none;
}
.home-text39 {
  color: var(--dl-color-gray-100);
  width: 100%;
  font-size: 0.8em;
  font-style: normal;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 1.3em;
  text-transform: none;
  text-decoration: none;
}
@media(max-width: 1200px) {
  .home-container {
    font-size: 18px;
  }
  .home-buttons {
    gap: 1.2em;
  }
  .home-image {
    background-position: center;
  }
  .home-container2 {
    padding: var(--dl-space-space-twounits);
  }
  .home-container3 {
    min-width: var(--dl-size-size-xlarge);
  }
  .home-headers {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-details {
    gap: var(--dl-space-space-oneandhalfunits);
    padding: var(--dl-space-space-unit);
  }
  .home-images {
    width: 40%;
    min-width: auto;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-row {
    width: 80%;
  }
}
@media(max-width: 991px) {
  .home-container {
    font-size: 16px;
  }
  .home-main {
    gap: var(--dl-space-space-threeunits);
    height: 818px;
    padding-left: var(--dl-space-space-threeunits);
  }
  .home-navbar-interactive {
    gap: 0;
    justify-content: space-between;
  }
  .home-links {
    display: none;
  }
  .home-buttons {
    gap: 1em;
    flex-direction: row;
  }
  .home-container2 {
    width: 100%;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container3 {
    width: 40%;
    max-width: 100%;
    min-width: 100%;
  }
  .home-details {
    gap: var(--dl-space-space-oneandhalfunits);
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .home-category {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-category1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-category2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-category3 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-images {
    min-width: 100%;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .home-content1 {
    padding-top: var(--dl-space-space-sixunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .home-donation-use {
    padding-top: var(--dl-space-space-sixunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .home-content5 {
    align-items: flex-start;
    padding-top: var(--dl-space-space-sixunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .home-details1 {
    width: 100%;
  }
  .home-input {
    width: 100%;
  }
  .home-textinput {
    flex: 1;
  }
  .home-button7 {
    width: 30%;
  }
  .home-slider {
    gap: var(--dl-space-space-fourunits);
    width: 100%;
    flex-direction: column;
  }
  .home-buttons1 {
    flex-direction: row;
  }
  .home-footer {
    width: 100%;
    padding-top: var(--dl-space-space-sixunits);
  }
}
@media(max-width: 767px) {
  .home-container {
    font-size: 16px;
  }
  .home-main {
    gap: var(--dl-space-space-threeunits);
    height: 811px;
    position: relative;
    padding-left: 0px;
    flex-direction: column;
  }
  .home-content {
    height: 594px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-navbar-interactive {
    gap: 0;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-buttons {
    gap: 2em;
  }
  .home-button1 {
    width: 100%;
  }
  .home-button2 {
    width: 100%;
  }
  .home-image {
    width: 100%;
    height: 231px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-position: center;
  }
  .home-container2 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-container3 {
    min-width: 100%;
    align-self: center;
  }
  .home-details {
    gap: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-category {
    gap: var(--dl-space-space-unit);
    width: 100%;
    max-width: 100%;
    min-width: 0px;
    flex-direction: row;
  }
  .home-icon10 {
    max-width: var(--dl-size-size-xsmall);
    max-height: var(--dl-size-size-xsmall);
  }
  .home-category1 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    min-width: 0px;
    flex-direction: row;
  }
  .home-icon12 {
    max-width: var(--dl-size-size-xsmall);
    max-height: var(--dl-size-size-xsmall);
  }
  .home-category2 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    min-width: 0px;
    flex-direction: row;
  }
  .home-icon14 {
    max-width: var(--dl-size-size-xsmall);
    max-height: var(--dl-size-size-xsmall);
  }
  .home-category3 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    min-width: 0px;
    flex-direction: row;
  }
  .home-icon16 {
    max-width: var(--dl-size-size-xsmall);
    max-height: var(--dl-size-size-xsmall);
  }
  .home-images {
    align-self: center;
  }
  .home-content1 {
    gap: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-row {
    gap: 0.5em;
  }
  .home-button4 {
    width: 100%;
  }
  .home-button5 {
    width: 100%;
  }
  .home-button6 {
    width: 100%;
  }
  .home-donation-use {
    gap: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-header2 {
    max-width: 100%;
  }
  .home-accordion {
    width: 100%;
  }
  .home-content5 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-slider {
    gap: var(--dl-space-space-threeunits);
  }
  .home-footer {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .home-container {
    font-size: 14px;
  }
  .home-content {
    gap: var(--dl-space-space-threeunits);
  }
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-image {
    height: 236px;
  }
  .home-container2 {
    padding-top: var(--dl-space-space-threeunits);
  }
  .home-headers {
    align-items: center;
  }
  .home-details {
    gap: var(--dl-space-space-unit);
    max-width: 100%;
    flex-direction: row;
  }
  .home-icon10 {
    max-width: var(--dl-size-size-xsmall);
    max-height: var(--dl-size-size-xsmall);
  }
  .home-icon12 {
    max-width: var(--dl-size-size-xsmall);
    max-height: var(--dl-size-size-xsmall);
  }
  .home-icon14 {
    max-width: var(--dl-size-size-xsmall);
    max-height: var(--dl-size-size-xsmall);
  }
  .home-icon16 {
    max-width: var(--dl-size-size-xsmall);
    max-height: var(--dl-size-size-xsmall);
  }
  .home-images {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-content1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-button3 {
    color: var(--dl-color-gray-100);
  }
  .home-caption1 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-row {
    width: 50%;
    flex-direction: column;
    justify-content: space-around;
  }
  .home-donation-use {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-heading1 {
    font-size: 30px;
    line-height: 40px;
  }
  .home-element {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text06 {
    font-size: 16px;
  }
  .home-text07 {
    line-height: 24px;
  }
  .home-element1 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text08 {
    font-size: 16px;
  }
  .home-text09 {
    line-height: 24px;
  }
  .home-text10 {
    line-height: 24px;
  }
  .home-text12 {
    line-height: 24px;
  }
  .home-element2 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text13 {
    font-size: 16px;
  }
  .home-text14 {
    line-height: 24px;
  }
  .home-content5 {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-action {
    gap: var(--dl-space-space-threeunits);
  }
  .home-input {
    flex-direction: column;
  }
  .home-textinput {
    width: 100%;
    text-align: center;
  }
  .home-button7 {
    width: 100%;
  }
  .home-checkbox1 {
    width: 1em;
    height: 1em;
  }
  .home-footer {
    padding-top: var(--dl-space-space-threeunits);
  }
  .home-navigation-links {
    flex-direction: column;
  }
}
