.branding-branding {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.branding-logo {
  width: 2.3em;
  height: 2.3em;
  object-fit: cover;
}
.branding-company-name {
  color: var(--dl-color-gray-100);
  align-self: center;
  font-style: normal;
}


